'use strict';

const handler = require('%%%PACKAGENAME%%%');
const http = require('http');

const server = http.createServer((req, res) => {
  handler.eventhandler(req, res);
});
server.listen(8000);
